# Ogre Core Resources
[OgreInternal]
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\Main
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\RTShaderLib
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\Terrain\

# Resources required by OgreBites::Trays
[Essential]
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\SdkTrays.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\profiler.zip

# this line will end up in the [Essential] group
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\thumbnails

FileSystem=..\..\IG2Project\IG2Media

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
# PBR media must come before the scripts that reference it
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\PBR
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\PBR\filament

FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL120
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL150
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL400
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSLES
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\SPIRV
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\Cg
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\HLSL
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\HLSL_Cg
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\scripts
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\textures
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\textures\terrain
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\models
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\particle
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\DeferredShadingMedia
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\DeferredShadingMedia\DeferredShading\post
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\PCZAppMedia
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\scripts\SSAO
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\materials\textures\SSAO
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\volumeTerrain
FileSystem=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\CSMShadows
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\cubemap.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\cubemapsJS.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\dragon.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\fresneldemo.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\ogredance.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\Sinbad.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\skybox.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\volumeTerrain\volumeTerrainBig.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\DamagedHelmet.zip
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\filament_shaders.zip

[BSPWorld]
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\oa_rpg3dm2.pk3
Zip=C:\software\programacion\ogre-14.3.4-x64-debug\sdk\Media\packs\ogretestmap.zip
